@model IEnumerable<Wallpapers_4K.Models.Categories>
@{
    ViewData["Title"] = "Categoryy";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
@foreach (var item in Model)
{
<li><a href="~/Gallery/Index/@item.Id">@item.Name</a></li>
}

