@model IEnumerable<Wallpapers_4K.Models.Wallpaper>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutHome.cshtml";
}
<h1>hello</h1>
@foreach (var item in Model)
{
    
        <img src="@("~/Image/" + item.Image)" asp-append-version="true" width="500px" height="500px" />
    
}
