@model IEnumerable<Wallpapers_4K.Models.Wallpaper>
@{
    ViewData["Title"] = "Index";
    Layout = null;
}






                        @foreach (var item in Model)
                        {


                            <h1>
                                @Html.DisplayFor(modelitem => item.Name)
                            </h1>
                            <div >
                                <img src="@("~/Image/" + item.Image)" asp-append-version="true" width="500px" height="500px" />
                            </div>
                            <p id="img-link" style="
    display: none;
    visibility: hidden;
">@("/Image/" + item.Image)</p>

                            <div id="imgAnchor"></div>
                            




                        }
<script>
                            const imageLink = document.getElementById('img-link');
                            const anchorContainer = document.getElementById('imgAnchor');

    let imgLink = imageLink.innerHTML;
    imgLink = imgLink.split(' ').join('%20')
    console.log(imgLink);

                            anchorContainer.insertAdjacentHTML('beforeend', `<a href="${imgLink}" download="file">Download</a>`)


</script>




