
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>good to go</h1>
<button><a href="/Category/Index">category</a></button>
<button><a href="/Wallpaper/Index">wallpaper</a></button>

